<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {% block title %} DocVote {% endblock %} </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <div style='margin-left: 50px'>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">logout</a> {% else %}
            <a href="{% url 'login' %}">login</a>
        {% endif %}
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>{% block header %}Simple Sidebar{% endblock %}</h1>
                {% block content %}{% endblock %}
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle" style="margin-top: 50px;">Toggle Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src='/static/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='/static/doc_vote.js'></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
