{% extends 'base.html' %}
{% block content %}

<style>
.green { color: green }
.red { color: red }
.selected { font-weight: bold; border: 1px solid #ddd; padding: 2px }
textarea { width: 400px; height: 80px }
</style>

<h3>Node Comments</h3>

{{ node.body_rendered|safe }}

{% for comment in comments %}

    <div class='node'>
    <span>
        {{ comment.user }} at {{ comment.updated }}
        {% if view.request.user.is_superuser or comment.user == view.request.user %}
            <a href="{% url 'create_update_comment' node_pk=node.pk pk=comment.pk %}">edit</a>
        {% endif %}
    </span>

    {{ comment.body_rendered|safe }} 

    </div>
    
{% endfor %}

{% if form %}
<form action="{% url 'create_update_comment' node_pk=node.pk %}" method="post" accept-charset="utf-8">{% csrf_token %}

{{ form.body }}

<p><input type="submit" value="Submit" /></p>
</form>
{% endif %}

<a href="{% url 'page' node.page.pk %}">&lt;&lt; back to page</a>

{% endblock %}
