{% extends 'base.html' %}
{% block content %}
<style>
.green { color: green }
.red { color: red }
.selected { font-weight: bold; border: 1px solid #ddd; padding: 2px }
.node { padding: 7px ; border: 0px solid #e7e7e7; width: 1000px; margin-left: 15px; padding-left: 10px; margin-bottom: 3px; display: flex }
.node-content { width: 700px; border: 0px solid }
.right-pane { border: 0px solid green; order: 1; padding-left: 8px }
.clear { clear: both }
.comments { border: 0px solid; width: 130px;  }
.score { padding-left: 5px }
.left { float: left }
.actions { border: 0px solid }
.act-hover { height: 58px }
//<!-- button { height: 20px } -->

textarea { width: 500px; height: 80px; }
</style>

<div class='page' id='{{ page.pk }}'></div>
<div class='username' style='display:none'>{{ user.username }}</div>

<h3>{{ page.name }}</h3>

<div id='content'>
{% for node in nodes %}

<!-- IMPORTANT!! -->
<!-- The following code in the `node` div is mostly duplicated in `new_node_fragment.html`, any changes should be reflected there as well -->
<!-- IMPORTANT!! -->

    <div class='node'>

    <div class='node-content'>{{ node.body_rendered|safe }} </div>
    <button class='save' id='{{ node.pk }}' style='display:none;'>Save</button>

    <div class='right-pane'>
    {% with node.score as score %}
        <div>
        <span class='score'>
        {% if score > 0 %}
            <span class='val green'>+{{ score }}</span>
        {% elif score < 0 %}
            <span class='val red'>{{ score }}</span>
        {% else %}
            <span class='val'></span>
        {% endif %}
        </span>
        </div>
    {% endwith %}

    {% if not is_staff %}
    <button class='vote-down' value='-' id='{{ node.pk }}'>-</button>
    <button class='vote-up' value='+' id='{{ node.pk }}'>+</button>
    {% endif %}

    {% if is_staff %}
    <div class='actions'>
        <div class='act-hover'>.. actions ..</div>
        <div class='inner' style='display:none'>
            <button class='edit' id='{{ node.pk }}'>Edit</button>

            <button class='delete' id='{{ node.pk }}'>Delete</button>
            <button class='add-node' id='{{ node.pk }} 'href="{% url 'create_update_node' page.pk node.pk %}after/">{% if not forloop.last %}Insert {% endif %}New Node</button>

            <div class='move'>
                {% if not forloop.last %}<button class='down' href="{% url 'move_node' page.pk node.pk 'down' %}">↓</button> {% endif %}
                {% if not forloop.first %}<button class='up' href="{% url 'move_node' page.pk node.pk 'up' %}">↑</button> {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class='comments'>
        <a href="{% url 'node' node.pk %}">comments ({{ node.comments.count }})</a>
    </div>

    </div>  <!-- right pane -->

    </div>  <!-- node -->
    
{% endfor %}
</div>


{% endblock %}
